<div class="container-show p-4">
  <div class="Listing">
    <div class="show-photo flex">
      <% if @sosie.photo.attached? %>
        <%= cl_image_tag @sosie.photo.key, alt: "placeholder" %>
      <% else %>
        <%= image_tag "placeholder.jpg", alt: "placeholder" %>
      <% end %>
    </div>
    <div class="sosie-info">
      <h2>
        <%= @sosie.name %>
      </h2>
      <h2 class="sosie-info-price">€<%= @sosie.price_per_day %> daily</h2>
    </div>
    <p>
      <%= @sosie.description %>
    </p>
  </div>
  <div class="Form">
    <p>
      <%= @sosie.address %>
    </p>
    <div id="map" class="w-100 h-75 mb-4"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%= render partial: "bookings/booking_form", locals: {user: @user, sosie: @sosie, booking: @booking}  %>
  </div>
  <div >
    <div data-hello-target="price">
    </div>
  </div>
  <div class="Right"></div>
</div>
