<div class="container-show p-4">
  <div class="Listing">
    <div style="display: flex">
      <% if @sosie.photo.attached? %>
        <%= cl_image_tag @sosie.photo.key, alt: "placeholder", style: "min-width: 30em" %>
      <% else %>
        <%= image_tag "placeholder.jpg", alt: "placeholder", class: "img-fluid rounded" %>
      <% end %>
      <h1 class="h1">
        <%= @sosie.name %>
      </h1>
      <p><%= @sosie.price_per_day %> €</p>
    </div>
    <h3>Description:
      "<strong><%= @sosie.description %>"</strong>
    </h3>
    <p>
      <%= @sosie.address %>
    </p>
  </div>
  <div class="Form">
    <%= render partial: "bookings/booking_form", locals: {user: @user, sosie: @sosie, booking: @booking}  %>
  </div>
  <div class="Right"></div>
</div>
