<div class="container">
  <div class="title">
    <h1><%= @sosie.name %></h1>
  </div>

  <br>
  <div class="sosie-photo">
  <% if @sosie.photo.attached? %>
    <%= cl_image_tag @sosie.photo.key %>
  <% else %>
    <%= image_tag "placeholder.jpg", alt: "placeholder", class: "img img-responsive" %>
  <% end %>

  </div>

  <h3>Description:
  <br>"<strong><%= @sosie.description %>"</strong></h3>
  <br>
  <p>Address:
  <br><%= @sosie.address %></p>
  <br>
  <button class="w-25 btn btn-lg btn-primary float-right rounded">
    Rent
  </button>
  <% @sosie %>
</div>