<div class="container">
  <div class="row text-center">
      <div class="col-3">
      <h1>Profile</h1>
      <br>
        <div class="card p-4 rounded-4 m-2">
            <% if @user.avatar.attached? %>
            <div class="rounded">
              <%= cl_image_tag @user.avatar.key, class:"avatar-large" %>
            </div> 
            <% end %>
            <p><strong>Name</strong></p>
            <p><%= @user.name %></p>
            <br>
            <p><strong>Email</strong></p>
            <p><%= @user.email %></p>
            <br>
            <p><strong>Biography</strong></p>
            <p><%= @user.biography %></p>
            <br>
            <br>
            <div class="btn btn-secondary btn-sm">
              <%= link_to "Update profile", edit_user_registration_path(@user)  %> 
            </div>
            <br>
            <br>
            <div class="btn-success btn-lg">
              <%= link_to "Create new sosie", new_sosy_path  %> 
            </div>
          </div>
        </div>
      
      <div class="col-9 ">
        <h1>Sosies</h1>
        <div class="d-flex flex-row flex-wrap">
          <% @sosies.each do |sosie| %>
            <div class="p-1 col-3">
              <%= render partial: "card", locals: {sosie: sosie} %>
            </div>
        <% end %>
        </div>
      </div>
  </div>
  <hr/>
  <h1>Bookings</h1>
  <br>
<div class="d-flex justify-content-center ">
  <div class="card">
      <% @bookings.each do |b| %>
    <div class="d-flex card-body justify-content-center">
      <% sosie = Sosie.find(b.sosie_id) %>
      <% if sosie.photo.attached? %>
        <%= cl_image_tag sosie.photo.key, height: 100, width: 100, crop: :thumb, class:"sosie_picture" %>
      <% end %>
      <h5 class="card-title">Booking for <%= sosie.name %> </h5>
      <br>
      <p class="card-text"><%= b.description %></p>

    </div>
      <div class="card-footer">
        <p> Wanted at <%= b.address %> from: <%=  b.end_date  %> <%= b.status %></p>
        <br>
      </div>

      <div class="btn-group" role="group" aria-label= "Basic button group">
        <button class="btn btn-success"><%= link_to "Confirm", accept_path  %></button>
        <button class="btn btn-danger"><%= link_to "Refuse", refuse_path  %></button>
      </div>
      <% end %>
      <br>
  </div>
</div>



</div>